@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500;600;700;800&display=swap');

/* h1, h2, h3 {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;  
} */

.newFont {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;  
}

.animate__slideInUp {
    --animate-delay: 5s;
  }

.btnHover:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}