@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* h1, h2, h3 {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;  
} */

.sombra {
    text-shadow: -2px 2px 13px black;
}

.sombra2 {
    text-shadow: -1px 1px 15px black;
}

/* .containerGrey{
    position: relative;
    background-color: #eee;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 40px 0;
} */

.newFont {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;  
}

.animate__slideInUp {
    --animate-delay: 5s;
  }

.btnHover:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.btnHover {
    box-shadow: 0px 0px 13px 2px black;
}